body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle at top, #1b1b2f, #0f0f1a);
    font-family: Georgia, serif;
    color: #b2a52c;
    overflow: hidden;
    background: url("images/temple-bg.jpg") no-repeat center center fixed;
    background-size: cover;
}

header.welcome-text{
    text-align: center;
    margin-bottom: 20px;
}

header.welcome-text h1 {
    font-size: 2.5rem;
    margin: 0;
}

.welcome-text p {
    text-align: center;
    font-size: 1.2rem;
}

.door-container {
    position: relative;
    width: 300px;
    height: 600px;
    perspective: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.door {
    width: 50%;
    height: 100%;
    background: #c07b30;
    border: 3px solid #c07b30;
    box-shadow: inset 0 0 10px rgb(66,28,7); 
    transition: transform 2s ease;
    cursor: pointer;
}

.left-door {
    border-right: none;
    transform-origin: left;
}

.right-door {
    border-left: none;
    transform-origin: right;
}
.handle {
    width: 30px;
    height: 30px;
    background: radial-gradient(circle at 30% 30%, #d49955, #bb874b);
    border-radius: 50%;
    position: absolute;
    top: 50%;
   
}

.left-door .handle {
    left: calc(100% - 40px);

}

.right-door .handle {
    right: calc(100% - 40px);
}

.open-left {
    transform: rotateY(-120deg);
}

.open-right {
    transform: rotateY(120deg);
}

.shrine-body {
    margin: 0;
    background: url("images/shrine-bg.png") no-repeat center center fixed;
    background-size: cover;
    font-family: 'Georgia', serif;
    color: white;
}

.navbar {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
}

.hamburger {
    font-size: 2rem;
    cursor: pointer;
    color: gold
}

.nav-links {
    list-style: none;
    display: none;
    flex-direction: column;
    background: rgba(0,0,0,0.8);
    padding: 10px;
    border-radius: 8px;
}

.nav-links li {
    margin: 8px 0;
}

.nav-links a {
    color: gold;
    text-decoration: none;
}

.nav-links.active {
    display: flex;
}

.shrine-content {
    text-align: center;
    padding-top: 80;
}

.shrine-content h1 {
    font-size: 1.8rem;
    color: gold;
    text-shadow: 1px 1px 3px black;
    margin-bottom: 30px;
}

.object {
    width: 180;
    cursor: pointer;
    transition: transform 0.3s, filter 0.3s;
}

.object:hover {
    transform: scale(1.1);
    filter: brightness(1.4);
}

.modal {
    display: none;
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.8);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: #222;
    color: gold;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    box-shadow: 0 0 15px gold;
}

.close{
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 2rem;
    cursor: pointer;
    color: gold;
}
